#spremnik{
    border: 1px black;
    width: 900px;
    height: 200px;
}

.clearboth{
    clear: both;
}

.clearfix{
    content: "";
    clear: both;
    display: table;
}

body{
    font-family: 'Fredoka One', cursive;
}

div{
    overflow: visible;
}

img{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    box-shadow: 3px 3px 3px 0px grey;
}

.header{
    width: auto;
    height: 100px;
    padding-top: 25px;
    background-color: #02a6d8;
    color: black;
}

.proizvod{
    text-align: center;
    float: left;
    width: 400px;
    height: 200px;
    border: 2px solid black;
    margin: 0 15px 15px 15px;
    padding: 10px;
    padding-top: 20px;
    box-shadow: 3px 3px 3px 0px grey;
    overflow: hidden;
}

.naziv{
    text-align: center;
    margin: auto 0;

}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: #02a6d8;
}

footer{
    position: sticky;
    bottom: 0;
    padding: 15px;
    background-color: black;
    color: white;
    font-family: fantasy;
    text-decoration: none
}

.avrh{
    color: white;
    text-decoration: none;
    text-align: center;
    float: right;
    padding-right: 25px;
}

.avrh:hover{
    color: red;
    text-decoration: none;
    text-align: center;
    float: right;
    padding-right: 25px;
}

.sectionOne{
    padding: 15px;
    text-align: center;
    width: 100%;
    background-color: white;

}

.sectionTwo{
    padding: 15px;
    text-align: center;
    width: 100%;
    background-color: lightgrey;

}

h1{
    text-align: center;
}

nav{
    position: sticky;
    top: 0;
    border: 1px black;
    width: 100%;
    background-color: #adadad;
}

#nav_ul{

    padding: 10px;
    margin: 0px;

}

#nav_ul li{
    float: left;
    padding: 10px;
    list-style-type: none;
    border: 5px black;
}

#nav_ul li a{
    border-style:solid;
    border-color: #02a6d8;
    border-width: 4px;
    border-collapse: collapse;
    padding: 4px;
    padding-right: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#nav_ul li a:link{
    width: 120px;
    height: 20px;
    display: block;
    color: black;
    background-color: #cecece;
    padding-left: 10px;
}
#nav_ul li a:hover{
    background-color: black;
    color: white;
}
